<ion-view>
    <ion-nav-title>{{ 'mma.local_mail.mail' | translate }}</ion-nav-title>
    <mm-split-view load-when="menuLoaded" component="mmaLocalMailMenuList">
        <ion-content mm-state-class>
            <ion-refresher on-refresh="refreshMenu()" pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="menuLoaded">
            </ion-refresher>
            <mm-loading hide-until="menuLoaded">
                <div class="list">
                    <a class="item" mm-split-view-link="site.local_mail-index({type: 'inbox'})">
                        {{ 'mma.local_mail.inbox' | translate}}
                        <span ng-show="menu.unread > 0" class="badge badge-positive">{{menu.unread}}</span>
                    </a>
                    <a class="item" mm-split-view-link="site.local_mail-index({type: 'starred'})">
                        {{ 'mma.local_mail.starred' | translate}}
                    </a>
                    <a class="item" mm-split-view-link="site.local_mail-index({type: 'drafts'})">
                        {{ 'mma.local_mail.drafts' | translate}}
                        <span ng-show="menu.drafts > 0" class="badge badge-positive">{{menu.drafts}}</span>
                    </a>
                    <a class="item" mm-split-view-link="site.local_mail-index({type: 'sent'})">
                        {{ 'mma.local_mail.sent' | translate}}
                    </a>
                    <a class="item" mm-split-view-link="site.local_mail-index({type: 'trash'})">
                        {{ 'mma.local_mail.trash' | translate}}
                    </a>

                    <div ng-if="menu.courses.length > 0" class="item item-divider">{{'mma.local_mail.courses' | translate}}</div>
                    <a ng-repeat="course in menu.courses track by course.id" class="item" mm-split-view-link="site.local_mail-index({type: 'course', id: course.id, name: course.fullname})">
                        <mm-format-text>{{course.fullname}}</mm-format-text>
                        <span ng-show="course.unread > 0" class="badge badge-positive">{{course.unread}}</span>
                    </a>

                    <div ng-if="menu.labels.length > 0" class="item item-divider">{{'mma.local_mail.labels' | translate}}</div>
                    <a ng-repeat="label in menu.labels track by label.id" class="item" mm-split-view-link="site.local_mail-index({type: 'label', id: label.id, name: label.name})">
                        <mm-format-text>{{label.name}}</mm-format-text>
                        <span ng-show="label.unread > 0" class="badge badge-positive">{{label.unread}}</span>
                    </a>
                </div>
            </mm-loading>
        </ion-content>
    </mm-split-view>
</ion-view>
